body {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

/*Headings*/
h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 900;
  font-size: 2.5em;
}

/*Navigation*/
#navigationBar {
  border-bottom: 1px solid black;
}

#navLogo {
  width: 400px;
  margin-left: 50px;
}

#menu {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
}

#menu a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

/*Banner*/
#banner {
  background-image: url(Images/bannerBackground5.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  text-align: center;
  color: white;
}

#bannerLogo {
  width: 200px;
}

/*About Me Section*/
#aboutMe {
  height: 700px;
  margin: 20px 50px;
  border: 1px solid black;
  overflow: hidden;
}

#profilePicture {
  width: auto;
  height: 100%;
  float: left;
  margin-right: 20px;
}

.socialMedia {
  display: inline;
  text-align: center;
  color: black;
}

.skills {
  margin: 0px;
}

/*Portfolio Section*/
#portfolio {
  text-align: center;
  margin-bottom: 20px;
}

.portfolioImages {
  width: 400px;
  height: 300px;
  overflow: hidden;
}

/*Footer*/
#contactMe {
  text-align: center;
  color: white;
  background-color: #0a96a7;
  padding-top: 20px;
  padding-bottom: 20px;
}


#contactMe input {
  width: 300px;
  border-radius: 5px;
}

#contactMe textarea {
  border-radius: 5px;
}

#button {
  height: 40px;
  width: 20px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
}
